@import "./color-palettes";


$color-elevation-0: bluegrey(-3); // application background
$color-elevation-4: bluegrey(-3); // first layer above background (header-bar)
$color-elevation-8: bluegrey(-2); // second layer above background (navigation-bar)
