@import "./color-palettes";


$color-primary__text: #333;
$color-primary__text--header: #424242;
$color-primary__text--highlight: grey(0); // used for indicators, hover
$color-primary__background: #fff; // primary background color used e.g. on mmf-card input-fields
$color-primary__background--highlight: bluegrey(-4);

$color-secondary__text: #999;
$color-secondary__text--header: #666;
$color-secondary__text--highlight: bluegrey(5); // used for indicators, hover
$color-secondary__background: bluegrey(5); // secondary background color as is used on mmf-card
$color-secondary__background--highlight: bluegrey(1); // secondary background color as is used on mmf-card

$color-highlight: #80CBC4;

$color-elevation-0: bluegrey(-3); // application background
$color-elevation-4: bluegrey(-3); // first layer above background (header-bar)
$color-elevation-8: bluegrey(-2); // second layer above background (navigation-bar)
