@import "./color-palettes";

$color-border: grey(2);
$color-border-input: grey(2);
$color-text: #333;
$color-text-light: #9B9B9B;
$color-focus: #5BC0DE;
$color-error: #D0011B;

$color-elevation0: #004D40;
$color-elevation8: #F7F7F7;

$color-primary: #009688;
$color-primary-light: #80CBC4;


$color-card-separator: grey(1);

$color-background: grey(4);
$color-background-light: grey(5);
$color-elevation-0: bluegrey(-3);
$color-elevation-4: bluegrey(-3);
$color-elevation-8: bluegrey(-2);

// palettes


