$map-color-grey: (
    -4: #212121,
    -3: #424242,
    -2: #616161,
    -1: #757575,
    0: #9E9E9E,
    1: #BDBDBD,
    2: #E0E0E0,
    3: #EEEEEE,
    4: #F5F5F5,
    5: #FAFAFA
);

$map-color-bluegrey: (-1: #546E7A, -2: #455A64, -3: #37474F, -4: #263238, 0: #607D8B, 1: #78909C, 2: #90A4AE, 3: #B0BEC5, 4: #CFD8DC, 5: #ECEFF1);
$map-color-lightgreen: (5: #F1F8E9, 4: #DCEDC8, 3: #C5E1A5, 2: #AED581, 1: #9CCC65, 0: #8BC34A, -1: #7CB342, -2: #689F38, -3: #558B2F, -4: #33691E);
$map-color-cyan: (5: #E0F7FA, 4: #B2EBF2, 3: #80DEEA, 2: #4DD0E1, 1: #26C6DA, 0: #00BCD4, -1: #00ACC1, -2: #0097A7, -3: #00838F, -4: #006064);

@function grey($index: 0) {
    @return map-get($map-color-grey, $index);
}

@function bluegrey($index: 0) {
    @return map-get($map-color-bluegrey, $index);
}

@function lightgreen($index: 0) {
    @return map-get($map-color-lightgreen, $index);
}

@function cyan($index: 0) {
    @return map-get($map-color-cyan, $index);
}
