@import "mithril-material-forms/lib/units";


.editron-container--sortable-group > .editron-container__children {
    // min-height: $mmf-block / 2;
}

.editron-container--sortable {
    display: flex;

    & > .editron-handle {
        min-width: 4px;
        max-width: $mmf-block/2;
        margin-right: $mmf-unit;
        flex-grow: 1;
        flex-shrink: 1;
        // background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);

        &:hover {
            cursor: pointer;
        }
    }

    & > .editron-item {
        flex-grow: 1;
    }

    &.selected {
        background: #D5EFF0;
    }
}
