@import "./elevation";


@mixin card-layout() {
    @include elevation2();

    width: 100%;
    margin: 48px 16px 0px 0px;
    background: #fff;
    border-radius: 2px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}
