{
    "root": true,
    "parser": "@typescript-eslint/parser",

    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],

    "plugins": [
        "@typescript-eslint",
        "array-func",
        "node",
        "optimize-regex",
        "promise"
    ],

    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },

    "globals": {
        "require": true,
        "module": true
    },

    "env": {
        "es6": true,
        "node": false,
        "browser": true,
        "mocha": true
    },

    "rules": {
        "@typescript-eslint/no-explicit-any": "off"
        // "@typescript-eslint/explicit-function-return-type": "off",
        // "@typescript-eslint/ban-ts-ignore": "off",
        // "@typescript-eslint/no-var-requires": "off",
        // "@typescript-eslint/no-use-before-define": "off",
        // "no-unused-vars": "warn",
        // "semi": "error"
    }
}
