*-test-results.xml
*.dat
*.gz
*.log
*.out
*.pid
*.sublime-project
*.sublime-workspace
*.tmp
*.zip
*.code-*
.cache/
.DS_Store
.idea/
.sass-cache/
.vagrant/
/.project
/checkstyle-jscs.xml
/checkstyle-jshint.xml
/checkstyle.xml
/package.lock
/xunit.xml
atlassian-ide-plugin.xml
build/
doc-build/
node_modules/
npm-debug.log
testbuild/
Thumbs.db
