@import "mithril-material-forms/lib/units";
@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/colors";
@import "mithril-material-forms/lib/elevation";


$overlay-select-tiles: 4 * $mmf-block;


.ed-overlay-tiles {
    max-width: 4 * $overlay-select-tiles;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ed-form-box {
    box-sizing: border-box;
    cursor: pointer;

    &:hover .ed-form-box__content {
        background-color: rgba(map-get($color-material, 0), map-get($opacity, 2));
        @include elevation(4);
    }
}

.ed-form-box__content {
    border-radius: $mmf-radius;
    @include elevation(2);

    box-sizing: border-box;
    margin: $mmf-unit;
    width: $overlay-select-tiles - 2 * $mmf-unit;
    height: $overlay-select-tiles - 2 * $mmf-unit;

    color: rgba(map-get($color-basic, 7), map-get($opacity, 0));
    background-color: map-get($color-material, 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.1s linear;
}

.ed-form-box__title {
    @include font-bold();
    text-align: center;
    padding: $mmf-unit;

    .mmf-icon {
        width: auto;
        height: auto;
        line-height: inherit;
        font-size: 0.8rem;
        padding-right: $mmf-unit;
    }
}

.ed-form-box__description {
    @include font-regular();
    font-size: $mmf-text-size--meta;
    line-height: 1.2em;
    text-align: center;
    margin: $mmf-unit;
    overflow-x: hidden;
    overflow-y: auto;
}
