@import "mithril-material-forms/lib/units";
@import "mithril-material-forms/lib/colors";
@import "mithril-material-forms/lib/typography";
@import "../../sass/export-once";
@import "../containerheader/container-header";
@import "../containerdescription/container-description";
@import "../containererrors/container-errors";


@if export-once("editron-core/components/container") {

    .editron-container {
        color: inherit;

        &.withAddButton .mmf-card {
            margin-bottom: 0;
        }
    }

    .editron-container__actions {
        display: flex;
    }

    // additional wrapper if child-container must be wrapped (for controls, etc)
    .editron-container__child {
        position: relative;
    }

    .editron-container__controls--child {
        position: absolute;
        top: 0;
        right: - 2 * $mmf-block-padding;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: $mmf-block + $mmf-block-padding;

        i.mmf-icon {
            color: $mmf-color__contrast--darker;
            font-size: 18px;
            line-height: 1.5em;
            width: 0.5 * $mmf-block;
            height: 0.5 * $mmf-block;

            &:hover {
                color: $mmf-color-primary;
            }
        }
    }
}
