@import "mithril-material-forms/lib/units";
@import "../../sass/export-once";
@import "../containerheader/container-header-layout";
@import "../containerdescription/container-description";
@import "../containererrors/container-errors";


@if export-once("editron-core/components/container-layout") {

    // add button replaces spacing between cards
    .editron-container.withAddButton .mmf-card {
        margin-bottom: 0;
    }

    .editron-container__actions {
        display: flex;
    }

    // additional wrapper if child-container must be wrapped (for controls, etc)
    .editron-container__child {
        position: relative;
    }

    .editron-container__controls--child {
        position: absolute;
        top: 0;
        right: -2 * $mmf-block-padding;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: $mmf-block + $mmf-block-padding;
    }
}
