.ed-header {
    display: flex;

    &.no-title.no-actions {
        display: none;
    }

    &.no-title {
        .ed-header__title {
            display: none;
        }
    }

    &.no-actions {
        .ed-actions {
            display: none;
        }
    }

    &.with-icon .ed-header__title h2 {
        padding-left: 0;
    }

    &.with-actions {
        padding-right: 0;
    }

    .ed-header__title {
        display: flex;
        align-items: center;
        width: 100%;

        .mmf-icon {
            width: 1.5em;
        }
    }
}
