// @import "dragula/dist/dragula.min.css";
@import "mithril-material-forms/lib/colors";
@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/units";


.editron-minimap-editor {}

.editron-minimap__header {
    width: 100%;
    display: flex;
    align-items: center;
    height: $mmf-block;

    &:hover {
        cursor: pointer;
    }

    .editron-minimap__title {
        flex-grow: 1
    }

    .editron-minimap__handle {
        flex: 0;
        &.mmf-icon {
            height: auto;
            width: auto;
            line-height: 0;
        }
    }

    &.isSelected .editron-minimap__title {
        // background-color: #ccc;
        text-decoration: underline;
        text-decoration-color: green;
    }

    &.hasError {
        border-left: 1px solid red;
    }
}

.editron-minimap__children {
    padding-left: $mmf-unit;
}

// .editron-minimap {
li.isCollapsed {
    overflow: hidden;

    & > .editron-editable-minimap-list {
        height: 0 !important;
    }

    & .editron-minimap__icon--collapse {
        transform: rotate(180deg);
    }
}

    //     .mmf-icon--thumbnail {
    //         // background-size: 100 * (1 - ($mmf-unit / $mmf-block)) + %;
    //         // background-position: left center;

    //         background-size: cover;
    //         background-repeat: no-repeat;
    //         background-position: center;
    //         width: $mmf-block - 2 * $mmf-unit;
    //         height: $mmf-block - 2 * $mmf-unit;
    //         margin-top: $mmf-unit;
    //         margin-left: $mmf-unit;
    //         -webkit-filter: grayscale(100%);
    //         filter: grayscale(100%);
    //     }
    // }

    // .editron-minimap__item {
    //     height: $mmf-block;
    //     display: flex;
    //     flex-direction: row;

    //     .editron-minimap__icon {
    //         // @include icon();
    //         flex-shrink: 0;
    //         width: $mmf-block;
    //         height: $mmf-block;
    //     }

    //     .editron-minimap__title {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         flex-grow: 2;

    //         text-overflow: ellipsis;
    //         white-space: nowrap;
    //         overflow: hidden;
    //     }

    //     &--default {
    //         padding-left: $mmf-block;
    //     }

    //     &--sortable {}
    // }

// @if export-once("editron-minimap-editor/minimap-editor/theme") {

//     li.gu-mirror {
//         list-style: none;
//     }

//     .editron-minimap {
//         a {
//             font-size: $mmf-text-size--meta; // $mmf-text-size--list;
//         }

//         li {
//             list-style: none;
//         }

//         li.hasError > .editron-minimap__item > a.editron-minimap__title {
//             color: $mmf-color--error;
//         }
//     }

//     .editron-minimap__item--sortable > a.editron-minimap__title {
//         @include font-regular();
//     }

//     // nested list
//     .editron-editable-minimap-list .editron-minimap__title {
//         color: $mmf-color--dark;
//     }

//     .editron-minimap__item {
//         opacity: $mmf-opacity--primary;

//         .editron-minimap__title {
//             @include font-bold();
//             text-decoration: none;
//             color: $mmf-color--dark;
//         }

//         &--sortable {}

//         .editron-minimap__icon {
//             color: $mmf-color--dark;
//         }

//         .editron-minimap__icon--move:hover,
//         .editron-minimap__icon--move:hover .mmf-icon {
//             cursor: ns-resize !important;
//         }

//         .editron-minimap__icon--dummy {
//             .mmf-icon {
//                 color: $mmf-color--dark;
//                 cursor: default !important;
//             }
//             cursor: default !important;
//         }
//     }


//     .editron-minimap li.isActive {

//         & > .editron-minimap__item {
//             color: $mmf-color--dark;
//             background-color: rgba($mmf-color--light, $mmf-opacity--primary);

//             .editron-minimap__icon--dummy,
//             .editron-minimap__icon--dummy .mmf-icon {

//                 cursor: default !important;
//             }
//         }
//     }
// }

