@import "mithril-material-forms/lib/interface";
@import "mithril-material-forms/lib/colors";


// separator button inner layers (inside of card)
.editron-container__child .editron-container__button--add {
    @include clickable();
    text-align: center;

    .mmf-icon {
        color: $mmf-color__contrast;
        text-shadow: 0 4px 8px #333;

        &:hover {
            color: $mmf-color-primary;
        }
    }

    // &:hover .mmf-icon {
    //     color: $mmf-color-primary;
    // }
}
