@import "../../editron";
@import "../../src/editors/sortablearrayeditor/sortable-array-editor";


.editron-container--array .editron-container--array {

}

[widget-type="group"] {
    border-left: 1px solid #ccc;
}

[widget-type="module"],
[widget-type="module"] .editron-value {
    background-color: #ddd;
}

// insert button between elements
.editron-container__separator .editron-container__button--add {
    background: transparent;

    i.mmf-icon {
        text-shadow: none;
        color: #666;
    }

    &:not(.is-disabled):hover i.mmf-icon {
        text-shadow: none;
        color: #000;
    }
}

.editron-value {
    background: transparent;
}


.sidebar .module {
    padding: 12px 24px;
    border: 1px solid #ccc;
    margin-bottom: 12px;

    &:hover {
        background-color: #ddd;
        cursor: pointer;
        user-select: none;
    }
}
