@import "mithril-material-forms/lib/units";
@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/form";
@import "mithril-material-forms/lib/elevation";
@import "mithril-material-forms/theme/card";
@import "../sass/color-palettes";
@import "../sass/colors";

.mmf-card {
    margin-bottom: $mmf-block;
    background-color: bluegrey(5);
}

// CARD HEADER
.mmf-card > .editron-container__header {
    h2 {
        @include font-regular();
        color: $color-text__header;
    }

    .mmf-icon {
        color: $color-text__header;
    }
}

// CARD HEADERS
.mmf-card {
    // LEVEL 1 - first header is outside of card (.editron-container)

    // LEVEL 2 - card header
    > .editron-container__header {
        h2 {
            color: $color-text__header;
        }

        .mmf-icon {
            color: $color-text__header;
        }
    }

    // LEVEL 3 - nested header within card
    .editron-container .editron-container__header {
        padding: 0;

        h2 {
            @include font-regular();
            text-transform: uppercase;
            padding: 2 * $mmf-unit;
            font-size: 0.7rem;
            box-sizing: border-box;
            min-height: $mmf-block;
            color: $color-text__header--inner;
        }

        .mmf-icon {
            color: $color-text__header--inner;
        }
    }
}


// FLOATING ADD BUTTON
.mmf-card {
    // separator button inner layers (inside of card)
    .editron-container__button--add {
        @include with-form(); // set same style as form to visually group add-button to item

        .mmf-icon {
            color: $color-text__header--inner;
            text-shadow: none;
        }
    }
}


// NESTED LISTS
.mmf-card {
    // @temp sublist separation
    .editron-container__children .editron-container__children > .editron-container__child .editron-container__header {
        box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
    }
}
