@import "mithril-material-forms/lib/units";
@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/form";
@import "mithril-material-forms/lib/elevation";
@import "../sass/colors";


.mmf-card {
    & > .editron-container__title {
        border-bottom: 1px solid $color-card-separator;
    }

    div:last-child {
        border-bottom: none;
    }

    margin-bottom: $mmf-block;
}

.mmf-card {

    // @temp sublist separation
    .editron-container__children .editron-container__children > .editron-container__child {
        // box-shadow: 0 4px 8px #000;
        @include elevation(4);
    }

    .editron-container {

        // subtitle (within a card) - separates card contents
        .editron-container__header {
            padding: 0;
            border-top: 1px solid $color-card-separator;
            margin-top: -1px; // hide line ob object-bottom

            h2 {
                // @include font-bold();
                text-transform: uppercase;
                padding: 2 * $mmf-unit;
                font-size: 0.7rem;
                line-height: 1em;
                box-sizing: border-box;
                min-height: $mmf-block;
            }
        }

        border-bottom: 1px solid $color-card-separator;
    }
}
