@import "mithril-material-forms/lib/units";


.ui-row {
    & > .editron-container__children {
        display: flex;
        flex-direction: row;

        & > div {
            flex-grow: 1;
            min-width: 2 * $mmf-block;
        }
    }
}
