@import "mithril-material-forms/lib/units";
@import "../sass/export-once";


@if export-once("editron-core/styles/ui-row") {

    .ui-row {
        & > .editron-container__children {
            display: flex;
            flex-direction: row;

            & > div {
                flex-grow: 1;
                min-width: 2 * $mmf-block;
            }
        }
    }
}
