@import "mithril-material-forms/lib/interface";
@import "mithril-material-forms/lib/units";
@import "mithril-material-forms/lib/elevation";


.ed-child {
    // ensure actions parent is a bound for absolute placement
    position: relative;
}

.ed-actions {
    @include clickable();
    position: absolute;
    right: 0;
    // top: 0;
    transform: translateX(100%);
    z-index: 101;

    ul {
        list-style: none;
        display: none;
        min-width: 3 * $mmf-block;

        li button.mmf-button {
            border: 0;
            margin: 0;
            width: 100%;
        }

        background-color: var(--ed-bg-color, #fff);
    }

    &.is-enabled:hover ul {
        display: block;
    }

    & > ul {
        position: absolute;
        top: $mmf-block;
        margin: 0;
        transform: translateY(-50%) translateX(-100%);
    }
}
