@import "mithril-material-forms/lib/interface";
@import "mithril-material-forms/lib/units";


.ed-child {
    // ensure actions parent is a bound for absolute placement
    position: relative;
}

.ed-actions {
    @include clickable();
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: 101;

    ul {
        list-style: none;
        display: none;
        min-width: 3 * $mmf-block;

        li {
            padding-bottom: $mmf-unit;
        }
    }

    button {
        width: 100%;
        margin: 0;
        background-color: #fff;
    }

    &.is-enabled:hover ul {
        display: block;
    }

    & > ul {
        position: absolute;
        top: $mmf-block;
        right: $mmf-block;
        margin: 0;
        transform: translateY(-50%);
    }
}
