@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/colors";
@import "../../sass/export-once";


@if export-once("editron/components/container-header-theme") {

    .editron-container__header {
        color: inherit;
        line-height: 1em;
        text-transform: uppercase;
        padding-top: 0.1em; // visually center title text vertically (uppercase only)
        opacity: $mmf-opacity--primary;

        .editron-container__title {
            h2 {
                @include font-regular();
                text-transform: inherit;
                font-size: inherit;
                line-height: inherit;
            }

            i.mmf-icon:hover {
                color: inherit;
                cursor: default;
            }
        }
    }
}
