@import "../../sass/export-once";


@if export-once("editron-core/components/container-header-layout") {

    .editron-container__header {
        display: flex;

        &.noTitle.noActions {
            display: none;
        }

        &.noTitle {
            .editron-container__title {
                display: none;
            }
        }

        &.noActions {
            .editron-container__actions {
                display: none;
            }
        }

        &.withIcon .editron-container__title h2 {
            padding-left: 0;
        }

        &.withActions {
            padding-right: 0;
        }

        .editron-container__title {
            display: flex;
            width: 100%;

            h2 {
                margin: 0;
                flex-grow: 2;
                display: inline-block;
                align-self: center;
                padding: 2 * $mmf-unit;
            }
        }
    }
}
