@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/colors";


.editron-container__header {

    display: flex;
    font-size: 1.2rem;
    line-height: $mmf-block;
    padding-left: $mmf-unit;
    padding-right: $mmf-unit;
    color: #999;


    &.noTitle.noActions {
        display: none;
    }

    &.noTitle {
        .editron-container__title {
            display: none;
        }
    }

    &.noActions {
        .editron-container__actions {
            display: none;
        }
    }

    &.withIcon {
        padding-left: 0;
    }

    &.withActions {
        padding-right: 0;
    }

    .editron-container__title {
        display: flex;
        width: 100%;

        h2 {
            @include font-light();
            text-transform: uppercase;
            margin: 0;
            font-size: 1rem;
            line-height: inherit;
            flex-grow: 2;
            display: inline-block;
            align-self: center;
        }

        .mmf-icon--delete:hover {
            color: $mmf-color--error;
            cursor: pointer;
        }
    }
}

/**
 * header of card
 */
.mmf-card > .editron-container__header {
    border-bottom: 1px solid $mmf-input__border-color;

    h2 {
        @include font-regular();
        color: #424242;
    }

    .mmf-icon {
        color: #424242;
    }
}
