@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/colors";
@import "../../sass/export-once";


@if export-once("editron-core/components/container-header") {

    .editron-container__header {

        display: flex;
        color: $mmf-color__contrast--darker;

        line-height: 1em;
        text-transform: uppercase;
        padding-top: 0.1em; // visually center title text vertically (uppercase only)

        &.noTitle.noActions {
            display: none;
        }

        &.noTitle {
            .editron-container__title {
                display: none;
            }
        }

        &.noActions {
            .editron-container__actions {
                display: none;
            }
        }

        &.withIcon .editron-container__title h2 {
            padding-left: 0;
        }

        &.withActions {
            padding-right: 0;
        }

        .editron-container__title {
            display: flex;
            width: 100%;

            h2 {
                @include font-regular();
                text-transform: inherit;
                margin: 0;
                font-size: inherit;
                line-height: inherit;
                flex-grow: 2;
                display: inline-block;
                align-self: center;
                padding: 2 * $mmf-unit;
            }
        }
    }
}
